<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>myCripto</title>
    
</head>
<body class="container">
    <header>
        <p class="container"> myCRYPTO</p> 
    </header>
    <main>
        {% block content %}{% endblock%}
    </main class="container">


    <footer>
        <p class="container" >&copy; 2023 - Todos los derechos reservados - Pablo Vallina </p>
    </footer>
</body>
</html>