{% extends "base.html" %}
{% block content %}
<nav class="container">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a class="isDisabled" href="" >Compra</a></li>
        <li><a href="/status" >Status</a></li>
    </ul>
</nav>

<h1 align="center">Compra de Criptos</h1>
<form action="/compra" method="post">   
    {{ the_form.csrf_token}}
   
    <div class="grid">
        
        
        {{ the_form.moneda_from.label }}
        {{ the_form.moneda_from }}
        {{ the_form.moneda_to.label }}
        {{ the_form.moneda_to }}
        
    </div>

    <div class="grid">

        {{ the_form.cantidad_from.label }}
        {{ the_form.cantidad_from}}
        {{ the_form.calculate() }}
        
        {% if cantidad_to is not none %}
            <p>La cantidad es: {{ the_form.cantidad_to }}</p>
        {% endif %}
    </div>

    <div class="grid">
        
        
        {{ the_form.submit }}
    </div>
</form>


{% endblock %}