{% extends "base.html" %}
{% block content %}
<nav class="container">
    <ul>
        <li><a class="isDisabled" href="/">Inicio</a></li>
        <li><a href="/purchase" >Compra</a></li>
        <li><a href="/status" >Status</a></li>
    </ul>
</nav>

<h1 align="center">Movimientos</h1>
<table class="container" border="1px ">
    
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Moneda From</th>
        <th>Cantidad from</th>
        <th>Moneda To</th>
        <th>Cantidad to </th>
        
    </tr>
    {% if movements %}
        {% for movement in movements %}
        <tr>
            
            <td>{{ movement.date }}</td>
            <td>{{ movement.time }}</td>
            <td>{{ movement.moneda_from }}</td>
            <td>{{ movement.cantidad_from }}</td>
            <td>{{ movement.moneda_to }}</td>
            <td>{{ movement.cantidad_to }}</td>
                
        </tr>
        {% endfor %}
    {% else %}
        <tr >
            <th>No hay Movimientos</td>
        </tr>
    {% endif %}
</table>
{% endblock %}