{% extends "base.html" %}
{% block content %}
<nav class="container">
    <ul>
        <li><a class="isDisabled" href="/">Inicio</a></li>
        <li><a href="/purchase" >Compra</a></li>
        <li><a href="/status" >Status</a></li>
    </ul>
</nav>

<h1 align="center">Movimientos</h1>
<table class="container" border="1px ">
    {% if movements %}
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>From</th>
        <th>Currency from</th>
        <th>To</th>
        <th>Currency to </th>
        
    </tr>
    
        <tr>
            
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
                
        </tr>
    {% else %}
        <tr >
            <th>No hay Movimientos</td>
        </tr>
    {% endif %}
</table>
{% endblock %}